body {
  background-color: white;
  color: #282828;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  color: #d65d0e;
}
input {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #d65d0e;
}

select {
  width: 30%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #190482;
  font-size: 20px;
}
